*{
    margin: 0;
    padding: 0;
} 

.contenedorpadre{
    display: grid;

}

header{
    background-color: rgb(195,49,59);
    

}

.contenedor{
    color: rgb(255,255, 255) ;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.cont1{
    
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.lupa{
    
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img{
        width: 16px;
        height: 16px;
    }
    
}

.botonh{
    background-color: rgb(255, 212, 58);
    border: 2px blue solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 17px;
    

}

.hero{
    background-color: rgb(195, 49, 59);
    margin: 80px 150PX;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    

}

.hero1{
    border: 2px red solid;
    height: 300px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

}

.hero2{
    border: 2px blue solid;

}
