/* Fuentes */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE5E0; /* Fondo pastel */
    color: #5A1A1A; /* Texto oscuro */
}

h1, h2, h4 {
    font-family: 'Prompt', sans-serif;
}

/* Colores Pastel */
.contenedorpadre {
    background-color: #FFE5E0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c3313b; /* Rojo */
}

.contenedor h1 {
    margin: 0;
    color: #5A1A1A; /* Texto oscuro */
}

.cont1 {
    display: flex;
    gap: 15px;
}

.cont1 p {
    margin: 0;
    cursor: pointer;
    color: #5A1A1A;
}

.cont1 p:hover {
    color: #D46A6A; /* Rojo pastel oscuro */
}

.lupa img {
    width: 20px;
    height: 20px;
}

.botonh a {
    padding: 10px 20px;
    background-color: #fac641;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.botonh a:hover {
    background-color: #FF6666;
}

.hero {
    
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
    align-items: center;

}

.hero1 {
    max-width: 600px;
    
}

.hero1 h1 {
    color: #5A1A1A;
}

.hero1 p {
    color: #5A1A1A;
    margin-top: 20px;
}

.hero1 a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF9999;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


